<h1>Customer Details</h1>

<div>
  <button mat-raised-button (click)="addCustomer()" color="primary"> Add Customer</button>
  <button mat-raised-button (click)="editCustomer()" color="warn" class="ml-3">Edit Customer</button>
<br>
<br>
  <h4>Available Customer</h4>
   <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="OrganizationId">
      <mat-header-cell *matHeaderCellDef> OrganizationId </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.OrganizationId}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="CustomerId">
      <mat-header-cell *matHeaderCellDef> CustomerId </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.CustomerId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="OrganizationName">
      <mat-header-cell *matHeaderCellDef> OrganizationName </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.OrganizationName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.Address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Phone">
      <mat-header-cell *matHeaderCellDef> Phone</mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.Phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.Email}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row)"
    [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
    (mouseout)="row.hovered = false">

    </mat-row>

  </mat-table>
  <span *ngIf="userMessage != ''" style="color: red;font-size: medium;font-weight: bold;"> {{userMessage}}</span>
</div>


